[Desktop Entry]
Version=1.0
Type=Application
Name=Heat My Desktop
GenericName=CPU Thermal Warmup Utility
Comment=Controlled CPU thermal expansion utility to prevent cold-boot crashes.
Exec=heat-my-desktop
Icon=heat-my-desktop
Terminal=false
Categories=Utility;System;
Keywords=hmd;heat;cpu;thermal;temperature;warmup;stress;heater;
StartupNotify=true
StartupWMClass=CPU Thermal Controller
